<div class="container">
  <div class="card card-container">
    <p style="text-align: center">
      <span class="shadow0">f</span>
      <span class="shadow1">u</span>
      <span class="shadow2">n</span>
      <span class="shadow3">d</span>
      <span class="shadow4">o</span>
      <span class="shadow5">o</span>
      <span class="shadow6">A</span>
      <span class="shadow7">d</span>
      <span class="shadow8">m</span>
      <span class="shadow9">i</span>
      <span class="shadowa">n</span>
    </p>
    <form>
      <div class="exm1">
        <label>Email Id</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
          autofocus>
        <div id="msg"></div>
      </div>
      <div class="exm2">
        <label>Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div id="msgp"></div>
      </div>
      <div class="exm">
        <button class="btn btn-primary" type="submit" id="btn">Sign in</button>
      </div>
      <span id="errMsg"></span>
    </form>

  </div>
</div>