<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>


<div class="container">
  <div class="card card-container">
    <!-- <h2>FundooAdmin</h2> -->
    <p style="text-align: center">
      <span class="shadow0">f</span>
      <span class="shadow1">u</span>
      <span class="shadow2">n</span>
      <span class="shadow3">d</span>
      <span class="shadow4">o</span>
      <span class="shadow5">o</span>
      <span class="shadow6">A</span>
      <span class="shadow7">d</span>
      <span class="shadow8">m</span>
      <span class="shadow9">i</span>
      <span class="shadowa">n</span>
  </p>
    <form >
      <!-- <span id="reauth-email" class="reauth-email"></span> -->
      <div class="exm1">
        <label>Email Id</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
          autofocus>
      </div>
      <div class="exm2">
          <label>Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
      <div class="exm">
        <button class="btn btn-primary" type="submit">Sign in</button>

      </div>
    </form>

  </div>
</div>